<header>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Eirbianbi</a>
        <div class="navbar-nav" id="navbarNav">
        </div>
      </div>
    </nav>
</header>

<body>
    
    <div class="upload-container">
      <h2>Subir Imagen</h2>
      <div class="upload-box" (click)="fileInput.click()">
          <span>Haz clic para cargar</span>
          <input id="imagenInput" #fileInput type="file" (change)="onFileSelected($event)" class="upload-input" name="imagen"> 
      </div>
      <div *ngIf="imageUrl" class="image-preview">
          <img [src]="imageUrl" alt="Imagen Subida">
      </div>
    </div>

    <!-- Nueva sección -->
    <div class="container-fixed-bottom" style="position: fixed; bottom: 0; left: 0; right: 0; padding: 20px; background-color: #ffffff;">
    <!-- Barra de progreso como borde superior -->
    <div class="progress" style="position: absolute; top: 0; left: 0; right: 0;">
        <div class="progress-bar bg-dark" role="progressbar" [style.width]="calcularProgreso() + '%'" aria-valuemin="0"
          aria-valuemax="100">
        </div>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-between mt-3">
      <button class="btn btn-outline-primary btn-no-border " (click)="anterior()">Atrás</button>
      <button class="btn btn-dark text-white" (click)="siguiente()">Completar</button>
    </div>
  </div>
</body>
