/* ------------------------------------------- Estilo Header -------------------------------- */
.navbar {
    background-color: #f0f0f0;
    padding: 10px 0; /* Ajuste de 10px en la parte superior e inferior */
    margin-bottom: 5px;
  }
  
  .navbar-brand {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    border-radius: 30px;
    transition: background 0.3s ease;
  }
  
  .custom-button {
    border: 1px solid rgba(184, 180, 180, 0.5);
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .nav-link:not(.custom-button):not(.profile-link):not(.eirbianbi-link) {
    padding: 5px 10px;
    font-weight: 600;
  }
  
  .nav-link:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .custom-button:hover {
    box-shadow: 0 4px 8px rgba(65, 64, 64, 0.1);
  }
  
  /* ------------------------------------------- Estilo Body ------------------------------------ */