<header>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Eirbianbi</a>
        <div class="navbar-nav" id="navbarNav">
        </div>
      </div>
    </nav>
</header>

<body>
    <!-- Cajas de texto y botones -->
    
    
    <div id="cajasTexto1" class="d-flex ">
      <h1>Agrega algunos datos básicos de tu espacio</h1>
      <label for="cajaTexto1">Número de Habitaciones</label>
      <div>
          <button class="btn btn-outline-primary btn-no-border" (click)="disminuirContenido(1)">-</button>
          <input type="text" id="cajaTexto1" value="0" readonly>
          <button class="btn btn-outline-primary btn-no-border" (click)="aumentarContenido(1)">+</button>
      </div>
      
      <label for="cajaTexto2">Número de Camas</label>
      <div>
          <button class="btn btn-outline-primary btn-no-border" (click)="disminuirContenido(2)">-</button>
          <input type="text" id="cajaTexto2" value="0" readonly>
          <button class="btn btn-outline-primary btn-no-border" (click)="aumentarContenido(2)">+</button>
      </div>
      
      <label for="cajaTexto3">Número de Baños</label>
      <div>
          <button class="btn btn-outline-primary btn-no-border" (click)="disminuirContenido(3)">-</button>
          <input type="text" id="cajaTexto3" value="0" readonly>
          <button class="btn btn-outline-primary btn-no-border" (click)="aumentarContenido(3)">+</button>
      </div>
    </div>  

    <!-- Nueva sección -->
    <div class="container-fixed-bottom" style="position: fixed; bottom: 0; left: 0; right: 0; padding: 20px; background-color: #ffffff;">
    <!-- Barra de progreso como borde superior -->
    <div class="progress" style="position: absolute; top: 0; left: 0; right: 0;">
        <div class="progress-bar bg-dark" role="progressbar" [style.width]="calcularProgreso() + '%'" aria-valuemin="0"
          aria-valuemax="100">
        </div>
    </div>
      <!-- Botones  de navegaciónn-->
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-outline-primary btn-no-border " (click)="anterior()">Atrás</button>
        <button class="btn btn-dark text-white" (click)="siguiente()">Siguiente</button>
      </div>
    </div>
</body>
