<header>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Eirbianbi</a>
      <div class="navbar-nav" id="navbarNav">
        <ul>
          <li class="nav-item dropdown">
            <div class="dropdown">
              <button class="custom-button" type="button" id="perfilDropdown">
                Perfil Usuario
              </button>
              <div class="dropdown-menu" aria-labelledby="perfilDropdown">
                  <a class="dropdown-item" href="/perfil">Perfil</a>
                  <a class="dropdown-item" href="/favoritos">Favoritos</a>
                  <a class="dropdown-item" (click)="cerrar_sesion()">Cerrar Sesión</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<body>
  <section id="Seccion-bienvenida">
    <p>Te damos la bienvenida al panel de anfitrión, <br> es hora de administrar tus anuncios.</p>
    <button type="button" (click)="nuevoAnuncio()" id="nuevo_Anuncio" >Nuevo anuncio + </button>
  </section>

  <section id="Seccion-Anuncios">
    <p>Tus anuncios</p>
    <div id="contenedorAnuncios">
      <!-- Aquí puedes agregar contenido relacionado con tus anuncios -->
      <section *ngIf="userStays?.length" class="user-stays">
        <div class="stays">
              <div class="titles">
                    <h2 class="name-title big">Name</h2>
                    <h2>Action</h2>
                    <h2 class="stay-capacity">Capacity</h2>
                    <h2>Price</h2>
                    <h2 class="big">Location</h2>
                    <h2 class="stay-rate">Rate</h2>
              </div>
              <div *ngFor="let stay of userStays" class="stays-content">
                    <!--<button class="update-btn" [routerLink]="['/user/edit/' , stay._id]">Update</button>-->
                    <span class="stay-capacity">{{stay.num_habitaciones}}</span>
                    <span>{{stay.precio | currency }}</span>
                    <span class="big">{{stay.direccion}}</span>
              </div>
        </div>
  </section>
  
  <!--<app-loader *ngIf="this.loader.getLoading()"></app-loader>
  
  <div *ngIf="!this.loader.getLoading() && !userStays?.length" class="empty-stay">
        <h2>No stays yet</h2>
        <p>Add your own stay in <a href="#">add stay</a></p>
        <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681630508/user-stay/stays_jzybi3.png" alt="">
  </div>-->
  
    </div>
  </section>
</body>