/* ------------------------------------------- Estilo Header -------------------------------- */
.navbar {
    background-color: #f0f0f0;
    padding: 10px 0;
    /* Ajuste de 10px en la parte superior e inferior */
    margin-bottom: 5px;
}

.navbar-brand {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: #333;
    border-radius: 30px;
    transition: background 0.3s ease;
}

.custom-button {
    border: 1px solid rgba(184, 180, 180, 0.5);
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 30px;
}

.nav-link:not(.custom-button):not(.profile-link):not(.eirbianbi-link) {
    padding: 5px 10px;
    font-weight: 600;
}

.nav-link:hover {
    background: rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
    box-shadow: 0 4px 8px rgba(65, 64, 64, 0.1);
}

/*------------------------ Estilo para el contenedor fijo en la parte inferior -----------------------*/
.container-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* Ajusta el color de fondo según tus preferencias */
    padding: 20px;
    /* Ajusta el espaciado según tus preferencias */
    border-top: 1px solid #ccc;
    /* Línea de separación opcional */
}

/* Estilos adicionales para el botón "Atrás" */
.btn-no-border {
    border: none;
    text-decoration: underline;
    transition: background 0.3s ease;
    /* Transición suave */
}

.btn-no-border:hover {
    background-color: #f0f0f0;
    /* Cambia a un gris claro al pasar el cursor */
    color: #302d2d;
}

/*----------------------------- Campos de fecha---------------------------------------*/
.date-range-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin-top:  4%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .date-range-picker .form-group {
    margin-bottom: 20px;
  }
  
  .date-range-picker label {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .date-range-picker input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    width: 250px;
    text-align: center;
    margin-left: 50px;
  }
  
  .date-range-picker input[type="date"]:focus {
    border-color: #66afe9;
    outline: none;
  }
  
  .date-range-picker p {
    margin: 0;
    font-size: 16px;
  }

.date-range-picker button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Añadir un margen superior */
}

.date-range-picker button:hover {
    background-color: #0056b3;
}

h1{
    text-align: center;
    margin-top: 2%;
}
