<!-- -------------------------------------------------------------------------------------------------------------------- -->
<!-- Sección para subir imágenes desde el explorador de archivos -->

<h2>Subir Imágenes</h2>
<div class="upload-container" (click)="abrirExplorador()">
  <input 
    type="file" 
    accept="image/*" 
    multiple 
    #fileInput 
    (change)="seleccionarImagenes($event)" 
    hidden 
  />
  <div *ngIf="imagenesSeleccionadas.length === 0" class="upload-placeholder">
    Haz clic para cargar
  </div>
</div>

<!-- Mostrar vista previa de imágenes seleccionadas -->
<div class="preview-container" [class.empty] = "imagenesSeleccionadas.length === 0">
  <img *ngFor="let imagen of imagenesSeleccionadas" [src]="imagen" class="preview" />
</div>

<!-- -------------------------------------------------------------------------------------------------------------------- -->
<!-- Sección para el botón de subir imágenes, solo si hay imágenes seleccionadas -->
<div *ngIf="imagenesSeleccionadas.length > 0" class="upload-button-container">
  <button (click)="subirImagenes()">Subir</button>
</div>


<!-- -------------------------------------------------------------------------------------------------------------------- -->
<!-- Sección para mostrar imágenes ya guardadas en el backend -->

<!-- Sección para mostrar imágenes ya guardadas en el backend -->
<div class="saved-images-container">
  <h3>Imágenes Guardadas</h3>
  <div class="preview-container">
    <!-- Si hay imágenes en el arreglo "imagenesGuardadas", las mostramos -->
    <ng-container *ngIf="imagenesGuardadas.length > 0; else noImages">
      <div *ngFor="let imagen of imagenesGuardadas" class="preview-wrapper">
        <img [src]="imagen" class="preview" />
        <button class="delete-button" (click)="eliminarImagen(imagen)">🗑</button>
      </div>
    </ng-container>
  </div>

  <!-- Si no hay imágenes, mostramos este mensaje -->
  <ng-template #noImages>
    <p class="no-images">No hay imágenes guardadas.</p>
  </ng-template>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------- -->
<!--                            AQUÍ INICIA LA PARTE 2!                               -->
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<body>
  <div class="container">
    <h3>¿Dónde se encuentra tu alojamiento?</h3>
    <p>Indica la direreccón de tu alojamiento.</p>

    <div class="input-container">
      <input type="text" id="direccionInput" placeholder=" Calle y Número, Colonia  CP:#####, Ciudad y estado">
      <button id="limpiarBoton" (click)="limpiarDireccion()" tabindex="-1">&#10006;</button>
    </div>
    <button id="guardarBoton" (click)="registrarDireccion()">Guardar</button>
    <button id="buscarBoton" (click)="buscarDireccion()">Búscar</button>
  </div>

  <div class="mapa">
    <iframe
    width="600"
    height="335"
    frameBorder="0"
    style="border: 0"
    [src]="mapUrl" allowfullscreen>
  </iframe>
  </div>
</body>

<!-- -------------------------------------------------------------------------------------------------------------------- -->
<!--                            AQUÍ INICIA LA PARTE 3! Guardado en la base de datos                              -->
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<div class="crud">
  <div class="titulazo">
    <h3>Titulo del alojamiento: </h3>
    <input type="text" placeholder="Ingresa el titulo aqui">
  </div>

  <div id="cajasTexto1" class="d-flex ">
      <h1>Agrega algunos datos básicos de tu espacio</h1>
      <label for="cajaTexto1">Número de Habitaciones</label>
      <div>
          <button class="btn btn-outline-primary btn-no-border" (click)="disminuirContenido(1)">-</button>
          <input type="text" id="cajaTexto1" value="0" readonly>
          <button class="btn btn-outline-primary btn-no-border" (click)="aumentarContenido(1)">+</button>
      </div>
      
      <label for="cajaTexto2">Número de Camas</label>
      <div>
          <button class="btn btn-outline-primary btn-no-border" (click)="disminuirContenido(2)">-</button>
          <input type="text" id="cajaTexto2" value="0" readonly>
          <button class="btn btn-outline-primary btn-no-border" (click)="aumentarContenido(2)">+</button>
      </div>
      
      <label for="cajaTexto3">Número de Baños</label>
      <div>
          <button class="btn btn-outline-primary btn-no-border" (click)="disminuirContenido(3)">-</button>
          <input type="text" id="cajaTexto3" value="0" readonly>
          <button class="btn btn-outline-primary btn-no-border" (click)="aumentarContenido(3)">+</button>
      </div>
    </div>  
</div>

<body>
    <div id="container-parrafo" class="container mt-5">
      <div class="text-center">
        <p class="fs-3">Cuéntale a los huéspedes todo lo que tu espacio tiene para ofrecer.</p>
        <p class="fs-0"> Selecciona todos los servicios que proporcionas.</p>
      </div>
      <div id="container-alojamientos" class="container mt-4">
        <div class="row">
          <div class="col" *ngFor="let categoria of ['Básico']">
            <h2>Servicios {{ categoria }}s</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col" *ngFor="let servicio of serviciosPorCategoria[categoria]">
                <div class="card custom-card" [class.selected]="tarjetasSeleccionadas.includes(servicio)"
                  (click)="seleccionarTarjeta(servicio)">
                  <div class="card-body">
                    <p class="card-text">{{ servicio?.descripcion }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col" *ngFor="let categoria of ['Entretenimiento']">
            <h2>{{ categoria }}</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col" *ngFor="let servicio of serviciosPorCategoria[categoria]">
                <div class="card custom-card" [class.selected]="tarjetasSeleccionadas.includes(servicio)"
                  (click)="seleccionarTarjeta(servicio)">
                  <div class="card-body">
                    <p class="card-text">{{ servicio?.descripcion }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- She says "babe, you look so cool..." -->
        <div class="row">
          <div class="col" *ngFor="let categoria of ['Seguridad']">
            <h2>{{ categoria }}</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col" *ngFor="let servicio of serviciosPorCategoria[categoria]">
                <div class="card custom-card" [class.selected]="tarjetasSeleccionadas.includes(servicio)"
                  (click)="seleccionarTarjeta(servicio)">
                  <div class="card-body">
                    <p class="card-text">{{ servicio?.descripcion }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
